In [1]:
import requests
import csv
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from pprint import pprint

In [2]:
url = "https://countriesnow.space/api/v0.1/countries/capital"
payload = {}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

In [3]:
# Check if the API request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()

    # Extract relevant information (country name and capital) from the response
    country_data = [(country["name"], country["capital"]) for country in data.get("data", [])]

    # Define CSV file path
    csv_file_path = "country_capitals.csv"

    # Write the extracted data to a CSV file
    with open(csv_file_path, mode="w", newline="", encoding="utf-8") as csv_file:
        fieldnames = ["Country", "Capital"]
        writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

        # Write header
        writer.writeheader()

        # Write data rows
        for country, capital in country_data:
            writer.writerow({"Country": country, "Capital": capital})

    print(f"CSV file saved at: {csv_file_path}")

else:
    # Print an error message if the API request fails
    print(f"Error: {response.status_code} - {response.text}")

CSV file saved at: country_capitals.csv

In [4]:
mapping_df = pd.read_csv("Resources/country_capitals.csv")
mapping_df

               Country    Capital
0          Afghanistan      Kabul
1        Aland Islands  Mariehamn
2              Albania     Tirana
3              Algeria    Algiers
4       American Samoa  Pago Pago
..                 ...        ...
246  Wallis and Futuna   Mata Utu
247     Western Sahara   El-Aaiun
248              Yemen      Sanaa
249             Zambia     Lusaka
250           Zimbabwe     Harare

[251 rows x 2 columns]

In [5]:
heart_attack = pd.read_csv("Resources/heart_attack_prediction_dataset.csv")
heart_attack

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [6]:
merged_df = pd.merge(mapping_df, heart_attack, on='Country')
merged_df

,Country,Capital,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,...,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Hemisphere,Heart Attack Risk
0,Argentina,Buenos Aires,BMW7812,67,Male,208,158/88,72,0,0,...,9,6.615001,261404,31.251233,286,0,6,South America,Southern Hemisphere,0
1,Argentina,Buenos Aires,SLE3369,27,Female,135,120/77,49,1,1,...,6,9.120329,71276,22.778859,297,1,10,South America,Southern Hemisphere,1
2,Argentina,Buenos Aires,IUJ5442,27,Female,263,127/109,83,0,1,...,2,9.362786,264135,39.844145,411,2,9,South America,Southern Hemisphere,0
3,Argentina,Buenos Aires,BSV5917,29,Female,201,134/60,86,0,0,...,6,10.965517,138186,33.787685,785,0,10,South America,Southern Hemisphere,0
4,Argentina,Buenos Aires,QWD3129,51,Male,197,106/106,79,1,1,...,3,1.539100,257061,24.669971,785,1,5,South America,Southern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,Vietnam,Hanoi,QWP9633,88,Male,394,112/62,51,1,0,...,8,2.401053,130142,23.738466,79,7,9,Asia,Northern Hemisphere,0
8759,Vietnam,Hanoi,AZG4713,45,Female,368,180/94,87,1,0,...,10,10.122112,241225,39.676405,564,2,5,Asia,Northern Hemisphere,0
8760,Vietnam,Hanoi,WAO3408,85,Male,200,167/101,65,1,1,...,1,5.682699,94886,31.122786,214,1,10,Asia,Northern Hemisphere,1
8761,Vietnam,Hanoi,WFO1019,29,Male,280,106/107,90,1,1,...,1,6.496817,50237,29.024055,423,5,5,Asia,Northern Hemisphere,0
8762,Vietnam,Hanoi,VXA0409,83,Male,322,91/69,67,1,1,...,5,11.155505,277472,28.873162,518,6,6,Asia,Northern Hemisphere,1

In [30]:
import requests
import csv
import logging

# Configure logging
logging.basicConfig(level=logging.WARNING)

url = "https://countriesnow.space/api/v0.1/countries/positions"
headers = {}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json().get('data', [])

    # Specify the CSV file path
    csv_file_path = 'countries_data.csv'

    # Write the data to a CSV file
    with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
        fieldnames = ['name', 'lat', 'long']
        writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

        # Write the header
        writer.writeheader()

        # Write the data rows
        for entry in data:
            country = entry.get('name')
            latitude = entry.get('lat')
            longitude = entry.get('long')

            # Check if all required keys are present
            if country is not None and latitude is not None and longitude is not None:
                writer.writerow({'name': country, 'lat': latitude, 'long': longitude})
            else:
                logging.warning(f'Skipping entry without complete data: {entry}')

    print(f'Data has been written to {csv_file_path}')
else:
    print(f'Error: {response.status_code} - {response.text}')

Data has been written to countries_data.csv

In [35]:
coordinates_df = pd.read_csv("Resources/countries_data.csv")
coordinates_df.rename(columns={'name': 'Country'}, inplace=True)
coordinates_df

               Country      lat   long
0          Afghanistan  33.0000   65.0
1              Albania  41.0000   20.0
2              Algeria  28.0000    3.0
3        AmericanSamoa -14.3333 -170.0
4              Andorra  42.5000    1.6
..                 ...      ...    ...
237  Wallis and Futuna -13.3000 -176.2
238     Western Sahara  24.5000  -13.0
239              Yemen  15.0000   48.0
240             Zambia -15.0000   30.0
241           Zimbabwe -20.0000   30.0

[242 rows x 3 columns]

In [40]:
df = pd.merge(merged_df, coordinates_df , on='Country')
df

,Country,Capital,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,...,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Hemisphere,Heart Attack Risk,lat,long
0,Argentina,Buenos Aires,BMW7812,67,Male,208,158/88,72,0,0,...,261404,31.251233,286,0,6,South America,Southern Hemisphere,0,-34.0,-64.0
1,Argentina,Buenos Aires,SLE3369,27,Female,135,120/77,49,1,1,...,71276,22.778859,297,1,10,South America,Southern Hemisphere,1,-34.0,-64.0
2,Argentina,Buenos Aires,IUJ5442,27,Female,263,127/109,83,0,1,...,264135,39.844145,411,2,9,South America,Southern Hemisphere,0,-34.0,-64.0
3,Argentina,Buenos Aires,BSV5917,29,Female,201,134/60,86,0,0,...,138186,33.787685,785,0,10,South America,Southern Hemisphere,0,-34.0,-64.0
4,Argentina,Buenos Aires,QWD3129,51,Male,197,106/106,79,1,1,...,257061,24.669971,785,1,5,South America,Southern Hemisphere,0,-34.0,-64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,Vietnam,Hanoi,QWP9633,88,Male,394,112/62,51,1,0,...,130142,23.738466,79,7,9,Asia,Northern Hemisphere,0,16.0,106.0
8759,Vietnam,Hanoi,AZG4713,45,Female,368,180/94,87,1,0,...,241225,39.676405,564,2,5,Asia,Northern Hemisphere,0,16.0,106.0
8760,Vietnam,Hanoi,WAO3408,85,Male,200,167/101,65,1,1,...,94886,31.122786,214,1,10,Asia,Northern Hemisphere,1,16.0,106.0
8761,Vietnam,Hanoi,WFO1019,29,Male,280,106/107,90,1,1,...,50237,29.024055,423,5,5,Asia,Northern Hemisphere,0,16.0,106.0
8762,Vietnam,Hanoi,VXA0409,83,Male,322,91/69,67,1,1,...,277472,28.873162,518,6,6,Asia,Northern Hemisphere,1,16.0,106.0

In [41]:
# Split the "Blood Pressure" column into two separate columns for systolic and diastolic pressure
df[['Systolic Pressure', 'Diastolic Pressure']] = df['Blood Pressure'].str.split('/', expand=True)

# Convert the new columns to numeric
df['Systolic Pressure'] = pd.to_numeric(df['Systolic Pressure'])
df['Diastolic Pressure'] = pd.to_numeric(df['Diastolic Pressure'])

# Drop the original "Blood Pressure" column
df.drop('Blood Pressure', axis=1, inplace=True)

df.columns

Index(['Country', 'Capital', 'Patient ID', 'Age', 'Sex', 'Cholesterol',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Continent',
       'Hemisphere', 'Heart Attack Risk', 'lat', 'long', 'Systolic Pressure',
       'Diastolic Pressure'],
      dtype='object')

In [42]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {'Female':0,'Male':1,
           'Northern Hemisphere':0,'Southern Hemisphere':1}

# Use the 'map' method to change the values in the 'gender' column
df['Sex'] = df['Sex'].map(mapping)
df['Hemisphere'] = df['Hemisphere'].map(mapping)

# Show DataFrame
df[:5]

,Country,Capital,Patient ID,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,...,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Hemisphere,Heart Attack Risk,lat,long,Systolic Pressure,Diastolic Pressure
0,Argentina,Buenos Aires,BMW7812,67,1,208,72,0,0,1,...,286,0,6,South America,1,0,-34.0,-64.0,158,88
1,Argentina,Buenos Aires,SLE3369,27,0,135,49,1,1,0,...,297,1,10,South America,1,1,-34.0,-64.0,120,77
2,Argentina,Buenos Aires,IUJ5442,27,0,263,83,0,1,0,...,411,2,9,South America,1,0,-34.0,-64.0,127,109
3,Argentina,Buenos Aires,BSV5917,29,0,201,86,0,0,0,...,785,0,10,South America,1,0,-34.0,-64.0,134,60
4,Argentina,Buenos Aires,QWD3129,51,1,197,79,1,1,1,...,785,1,5,South America,1,0,-34.0,-64.0,106,106

In [43]:
# Check unique values for each column
for col in df.columns:
    print(f"Unique values for column '{col}': {df[col].unique()}")

Unique values for column 'Country': ['Argentina' 'Australia' 'Brazil' 'Canada' 'China' 'Colombia' 'France'
 'Germany' 'India' 'Italy' 'Japan' 'New Zealand' 'Nigeria' 'South Africa'
 'South Korea' 'Spain' 'Thailand' 'United Kingdom' 'United States'
 'Vietnam']
Unique values for column 'Capital': ['Buenos Aires' 'Canberra' 'Brasilia' 'Ottawa' 'Beijing' 'Bogota' 'Paris'
 'Berlin' 'New Delhi' 'Rome' 'Tokyo' 'Wellington' 'Abuja' 'Pretoria'
 'Seoul' 'Madrid' 'Bangkok' 'London' 'Washington' 'Hanoi']
Unique values for column 'Patient ID': ['BMW7812' 'SLE3369' 'IUJ5442' ... 'WAO3408' 'WFO1019' 'VXA0409']
Unique values for column 'Age': [67 27 29 51 55 65 31 39 60 88 80 32 76 69 41 53 66 23 84 42 63 75 82 21
 38 90 71 85 73 49 50 77 19 54 46 47 78 18 74 20 83 64 22 36 26 33 86 68
 28 61 70 79 34 40 81 43 52 58 72 25 87 89 35 44 24 59 30 56 45 37 57 48
 62]
Unique values for column 'Sex': [1 0]
Unique values for column 'Cholesterol': [208 135 263 201 197 369 178 333 326 338 168 268 253 133 149 136 200 337
 376 181 277 150 230 352 319 343 259 370 316 190 294 179 395 125 385 365
 224 398 295 239 290 146 217 180 220 357 325 382 392 351 172 206 297 359
 256 193 363 245 381 390 342 281 142 340 121 269 347 223 383 219 262 310
 400 247 252 394 293 216 306 173 175 278 187 174 324 228 361 126 354 185
 139 211 161 225 234 274 378 323 128 367 396 388 241 368 199 273 286 358
 236 285 205 291 196 242 212 218 169 379 222 226 339 275 355 335 257 307
 377 164 148 271 375 260 288 270 156 160 246 362 322 255 153 127 183 360
 232 129 213 329 120 229 276 393 194 302 341 300 145 170 166 235 312 399
 327 372 147 321 176 299 387 188 284 289 162 264 380 364 140 332 132 308
 313 336 317 344 243 371 154 261 254 157 134 124 318 303 397 207 192 389
 163 298 345 315 167 204 301 249 265 123 334 202 258 210 141 151 131 373
 266 233 283 155 292 209 296 184 350 331 158 138 280 366 309 144 250 330
 328 240 304 267 198 349 237 251 191 244 238 305 214 165 143 386 248 320
 189 130 177 348 152 159 215 279 221 227 122 171 272 356 311 203 231 287
 384 195 186 282 137 346 182 353 374 314 391]
Unique values for column 'Heart Rate': [ 72  49  83  86  79  64  48 106  47  96 102  57  93  81  65  89  59 107
  99  94  55  46  98  61  51  45  67  78  97  43 109  41  84  82  40  68
  69 105  50  75  90  71  80  62  87  91  42  53  63  66 108  52  88  70
 101  74  56  44 103  85 100  58  95 110  76  77 104  73  92  54  60]
Unique values for column 'Diabetes': [0 1]
Unique values for column 'Family History': [0 1]
Unique values for column 'Smoking': [1 0]
Unique values for column 'Obesity': [0 1]
Unique values for column 'Alcohol Consumption': [0 1]
Unique values for column 'Exercise Hours Per Week': [ 4.16818884 16.91048542  2.09667634 ... 10.49343183 15.47310246
 15.91221173]
Unique values for column 'Diet': ['Average' 'Healthy' 'Unhealthy']
Unique values for column 'Previous Heart Problems': [0 1]
Unique values for column 'Medication Use': [0 1]
Unique values for column 'Stress Level': [ 9  6  2  3  4  1  7  8 10  5]
Unique values for column 'Sedentary Hours Per Day': [ 6.61500145  9.12032936  9.36278614 ...  5.68269942  6.49681689
 11.15550463]
Unique values for column 'Income': [261404  71276 264135 ...  94886  50237 277472]
Unique values for column 'BMI': [31.25123273 22.77885893 39.84414468 ... 31.12278582 29.02405544
 28.87316191]
Unique values for column 'Triglycerides': [286 297 411 785 216 760 690 468 385 314 485 617 563 447 717  52 394 610
 753 457 122 544 547 787 291 719  57 186 698 735 301 398 515 438 626 376
 776  70 697 507 512 622 780 503 506 150  64 473 566 326 673 330 740 722
 662 707 577  94 796  54  36 546 527 407 264 569 183 222 315 493 491 666
 342 318 321 695 171 151 199 618 187 492 700 215 774  91 520 548 478 777
  63 733 139 522 129 575 334 124  90 274 440 679  80 446 791 655 207 135
  45 706 167 480 296 758 236 377 693 363  74 331 116 166 131 144 282 685
  78 521 745 746  99 494 266 414 641 486 203 189 233 267 789 519 752 419
 552  30 667  79 432 672 442 241 325 335 642 415 304 677 200 539 732 293
 112 401 471 368 573 262 290 584 427 699 251 130 570 652 420 347 574 337
 624 582 100 221 218 481 656 767 504 259 386 387 193 163 308 367 431 366
 389 107 786  58 757 142 212 769 214 209 797 205 429 373  95 781 148 391
 352 302 571 152 182 235 497 451 240 755  66 517 253 788 370 328 595 632
 345 123 466 729 731 647 532 694 696 711 784 263 164 768  85 646 118 341
 568 272 316 168 424 661 356 405 390 609 381 311 428 455 741 413  93  39
 469 211 261 793 561 292 156 490 464 587 344 106 528 162 254 714 453 637
 228 289  53  97  71 614 279 724 533 448 324  84  46 190 540 109 350 465
 621  72 703 450 553 773 523 671  51 593 651 121 323 204 619 436 467 269
 583 146 725 483 762 198 638 382 778 333 252 750 648 226 737 234 298 678
  50  59 104 449  96 730 516 474 681 663 154 260 119 161  83 174  92 305
 408 643 654 795 744 348 775 576 273 103 280  56 406  61 364 710 580 412
 303 256 165 192 201 421  38 140  89 742 599 158 426 658 143 400 396 743
 607 629  33  55 680 487 309 761 484 322 771 110 499 635 727 397 248 392
 176 422 782 558 243 579 310 541 101 362 790 196 645 312 399  40 306 705
 443 191 606 430 562 271  47  60 653 108 383 581 229 435 720 249 403 794
 612 227  69 500 244 613 604 564 692 275 137 102 718 219 611  77  87 317
 578 799 510 177 702 379 380 594 704  75 210 670 285 551 644 433 600 276
 549 765 294 145 554 557 281 616 488 374 657  44 173 357 277 509 170 665
 601 402 726 416 223 585 734  82 766 238  31 178 660 496 572 524 284 688
 664 351 596 751 709 675 783 320  32 327 708 354 258 369 378 627 375 792
 197  68 526 250 441 434 779 463 425 501 179  73 232 288 372 134 498 329
 456  76 538 410 472 598 225 511 133  41 462 160 763 514 319 623 633 257
  62 458 300 770 265 683 159 155  67 127 713 255 138 525 567 409 764 634
 559 721 476  65 114 395 489 444 287 536 128 689 231 278 184 346 723 423
 270 237 530 224 739 147 754 691  86  81 535 712 560 747 452 113 194 149
 649 153 461 132 686  98 518 175  34 682 239 460 437 299 343 220 565 242
 479 332 247 605 502 505 477 545 608 676 756 439 669 339 728 602 355  48
 340 592 674 749 590  88 701 181 208 246 738 230 445 188 371 620 125 388
 715 684 736 591  43  35 529 136 470 365 636 358 508 353 111 268 393 482
 180 475 213 206 625 550 185  42 172 513 195 589 537 586 404 542 555 630
 361 336 217 359 615 105 115 748 588 597 531 417 759 459 640 798 384 126
 628 495 668 454 772 360 543  37 307 659 202 117 141 418 603 295 631 716
 349 687 313 120 639 283 650 338 157 556 534  49 245 169 800]
Unique values for column 'Physical Activity Days Per Week': [0 1 2 5 3 7 4 6]
Unique values for column 'Sleep Hours Per Day': [ 6 10  9  5  4  8  7]
Unique values for column 'Continent': ['South America' 'Australia' 'North America' 'Asia' 'Europe' 'Africa']
Unique values for column 'Hemisphere': [1 0]
Unique values for column 'Heart Attack Risk': [0 1]
Unique values for column 'lat': [-34.     -27.     -10.      60.      35.       4.      46.      51.
  20.      42.8333  36.     -41.      10.     -29.      37.      40.
  15.      54.      38.      16.    ]
Unique values for column 'long': [-64.     133.     -55.     -95.     105.     -72.       2.       9.
  77.      12.8333 138.     174.       8.      24.     127.5     -4.
 100.      -2.     -97.     106.    ]
Unique values for column 'Systolic Pressure': [158 120 127 134 106 109 168 155 149 110 100 153  91 180 123 135 143 133
 165 138 119  99 162 108 161 148 114 146 172 175 122 116  93 136 147 104
 129 156 128 171 105 174 121  98 150  95 170 124 178 154 103 159 160  94
 113 179 141 137 163 142 145 111 101 151 102 130 139 157 117 144  90 140
  96 126 107 176 125 118 167 152 131 166  97 132 164 169 173  92 177 115
 112]
Unique values for column 'Diastolic Pressure': [ 88  77 109  60 106  95 100 107 104  69  72  83 108  91  92  82  70  89
  67  75  87  73  90  80  63  94  98  99  71  81  96  62  74 103 110  86
  76 105  68  84  85  66 102  65  93  64  78 101  79  97  61]

In [44]:
# Define categorical features
categorical_features = ['Country', 'Continent', 'Diet'] 
categorical_dummies = pd.get_dummies(df[categorical_features])
categorical_dummies[:5]

,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,Country_India,Country_Italy,...,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True

In [45]:
# Define numerical features
numerical_features = [col for col in df.columns if col not in ['Patient ID','Heart Attack Risk'] + categorical_features]

In [46]:
encoded_df = pd.concat([df.drop(categorical_features, axis=1), categorical_dummies], axis=1)
encoded_df['Patient ID'] = df['Patient ID']
encoded_df = encoded_df.set_index('Patient ID')
encoded_df.columns

Index(['Capital', 'Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes',
       'Family History', 'Smoking', 'Obesity', 'Alcohol Consumption',
       'Exercise Hours Per Week', 'Previous Heart Problems', 'Medication Use',
       'Stress Level', 'Sedentary Hours Per Day', 'Income', 'BMI',
       'Triglycerides', 'Physical Activity Days Per Week',
       'Sleep Hours Per Day', 'Hemisphere', 'Heart Attack Risk', 'lat', 'long',
       'Systolic Pressure', 'Diastolic Pressure', 'Country_Argentina',
       'Country_Australia', 'Country_Brazil', 'Country_Canada',
       'Country_China', 'Country_Colombia', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Italy', 'Country_Japan',
       'Country_New Zealand', 'Country_Nigeria', 'Country_South Africa',
       'Country_South Korea', 'Country_Spain', 'Country_Thailand',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Continent_Africa', 'Continent_Asia', 'Continent_Australia',
       'Continent_Europe', 'Continent_North America',
       'Continent_South America', 'Diet_Average', 'Diet_Healthy',
       'Diet_Unhealthy'],
      dtype='object')

In [47]:
heart_atatck_df = encoded_df